
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img.jpg/nikola-mihajloski-0w5mXuAuedk-unsplash\ \(1\).jpg);
  }
  
  .container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  
  
  .theme{
    text-align: center;
    background-color: rgb(15, 216, 38);
    color:rgb(255, 255, 255);
    padding: 0.5em;
  }
  
  #character-bar {
    height: 16vh;
    background: rgba(8, 160, 122, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4vh;
  }
  
  #character-bar span {
  
    height: 50%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 3vh;
    align-items: center;
    
  }
  
  .characterInformation{
    height: 100px;
    font-size: 24px;
    padding: 30px;
    color: aliceblue;
    text-align: center;
  }
  
  input[type="submit"], button {
    background-color: rgb(36, 210, 33);
    color: white;
    font-size: 30px;
    padding: 3px 20px 3px 20px;
    border-radius:50px ;
    font-family: 'Robot', sans-serif;
  }
  
  input[type="text"] {
    font-size: 3vh;
  }
  
  #image{
    width: 300px;
    height: 300px;
  }
  
  #btnreset{
    margin-bottom: 10%;
  }